In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Data_total.xlsx')

In [3]:
df

,Series Name,Series Code,Country Name,Country Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1057,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Australia,AUS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,France,FRA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1061,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Germany,DEU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Italy,ITA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Japan,JPN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1068,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Netherlands,NLD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1069,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Russian Federation,RUS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1071,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Spain,ESP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Switzerland,CHE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1074,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,United Kingdom,GBR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,United States,USA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1085,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Austria,AUT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1092,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Belgium,BEL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1102,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Bulgaria,BGR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1108,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Canada,CAN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1120,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Croatia,HRV,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1124,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Czech Republic,CZE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Denmark,DNK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1134,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Estonia,EST,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1139,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Finland,FIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1146,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Greece,GRC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1157,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Hungary,HUN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1158,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Iceland,ISL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1161,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Ireland,IRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1174,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Latvia,LVA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1179,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Liechtenstein,LIE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1180,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Lithuania,LTU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1181,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Luxembourg,LUX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Monaco,MCO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1204,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,New Zealand,NZL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25627,Trade (% of GDP),NE.TRD.GNFS.ZS,United States,USA,NaN,NaN,NaN,NaN,NaN,NaN,...,28.057952,30.789294,30.568184,30.013007,29.968850,27.736772,26.514001,27.142320,27.543903,NaN
25637,Trade (% of GDP),NE.TRD.GNFS.ZS,Austria,AUT,NaN,NaN,NaN,NaN,NaN,NaN,...,99.019796,105.102789,105.152177,104.066414,103.503535,102.427315,101.068685,104.773176,107.790262,NaN
25644,Trade (% of GDP),NE.TRD.GNFS.ZS,Belgium,BEL,NaN,NaN,NaN,NaN,NaN,NaN,...,149.997673,161.493724,160.746030,157.850845,158.783216,154.192547,157.559958,163.229188,165.314652,NaN
25654,Trade (% of GDP),NE.TRD.GNFS.ZS,Bulgaria,BGR,NaN,NaN,NaN,NaN,NaN,NaN,...,103.207247,117.761983,124.790957,130.202367,130.790272,128.111706,124.448316,131.903110,131.250967,NaN
25660,Trade (% of GDP),NE.TRD.GNFS.ZS,Canada,CAN,NaN,35.900781,35.602785,35.418363,37.096083,36.985396,...,60.349936,62.644964,62.746543,62.385773,64.531248,66.318667,65.418880,65.142632,66.223971,NaN
25672,Trade (% of GDP),NE.TRD.GNFS.ZS,Croatia,HRV,NaN,NaN,NaN,NaN,NaN,NaN,...,74.197094,79.730252,80.753134,83.023111,86.981609,92.539832,94.149108,99.438113,101.878193,NaN
25676,Trade (% of GDP),NE.TRD.GNFS.ZS,Czech Republic,CZE,NaN,NaN,NaN,NaN,NaN,NaN,...,128.967077,138.784978,147.537459,147.978174,158.726957,156.099864,151.394676,151.928876,150.389135,NaN
25677,Trade (% of GDP),NE.TRD.GNFS.ZS,Denmark,DNK,NaN,NaN,NaN,NaN,NaN,NaN,...,94.099977,101.245795,103.240970,103.050141,102.263917,104.048229,100.168829,103.281102,105.236145,NaN
25686,Trade (% of GDP),NE.TRD.GNFS.ZS,Estonia,EST,NaN,NaN,NaN,NaN,NaN,NaN,...,142.499049,165.880633,169.491762,165.380587,159.195189,149.841573,150.998038,147.995115,145.000502,NaN
25691,Trade (% of GDP),NE.TRD.GNFS.ZS,Finland,FIN,NaN,NaN,NaN,NaN,NaN,NaN,...,75.464407,78.579582,79.170501,77.093887,74.112723,71.338338,70.909584,75.253449,77.854410,NaN
25698,Trade (% of GDP),NE.TRD.GNFS.ZS,Greece,GRC,24.47376,23.604745,23.108516,24.343950,24.364783,24.670650,...,52.829098,57.844620,61.817767,63.519142,67.149454,63.055161,60.840528,67.000555,72.519700,NaN
25709,Trade (% of GDP),NE.TRD.GNFS.ZS,Hungary,HUN,NaN,NaN,NaN,NaN,NaN,NaN,...,158.204304,167.053993,165.870140,164.177267,168.489688,167.971262,165.555469,166.997294,165.503989,NaN
25710,Trade (% of GDP),NE.TRD.GNFS.ZS,Iceland,ISL,NaN,NaN,NaN,NaN,NaN,NaN,...,94.091037,101.819070,104.267502,99.306303,96.993651,96.725703,88.611298,88.126127,91.349444,NaN
25713,Trade (% of GDP),NE.TRD.GNFS.ZS,Ireland,IRL,NaN,NaN,NaN,NaN,NaN,NaN,...,189.421702,188.755763,191.537017,188.521591,201.990346,215.136641,226.041377,219.998349,211.511074,NaN
25726,Trade (% of GDP),NE.TRD.GNFS.ZS,Latvia,LVA,NaN,NaN,NaN,NaN,NaN,NaN,...,108.611861,120.513024,126.836576,124.068552,124.440274,122.348891,119.820779,124.096657,122.793208,NaN
25731,Trade (% of GDP),NE.TRD.GNFS.ZS,Liechtenstein,LIE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25732,Trade (% of GDP),NE.TRD.GNFS.ZS,Lithuania,LTU,NaN,NaN,NaN,NaN,NaN,NaN,...,130.252144,148.843784,156.210213,156.129859,142.864378,138.640942,134.379392,144.827932,149.299813,NaN
25733,Trade (% of GDP),NE.TRD.GNFS.ZS,Luxembourg,LUX,NaN,NaN,NaN,NaN,NaN,NaN,...,316.161400,323.449607,341.862022,349.241939,392.804184,408.362012,390.662502,400.079471,387.103340,NaN
25746,Trade (% of GDP),NE.TRD.GNFS.ZS,Monaco,MCO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25756,Trade (% of GDP),NE.TRD.GNFS.ZS,New Zealand,NZL,NaN,NaN,NaN,NaN,NaN,NaN,...,58.225272,59.180458,57.027309,56.053025,55.193480,54.772699,52.134279,54.248969,56.399746,NaN
25762,Trade (% of GDP),NE.TRD.GNFS.ZS,Norway,NOR,NaN,NaN,NaN,NaN,NaN,NaN,...,68.249559,69.673393,68.217404,67.546620,68.663283,69.859165,68.940315,69.164425,71.074186,NaN
25771,Trade (% of GDP),NE.TRD.GNFS.ZS,Poland,POL,NaN,NaN,NaN,NaN,NaN,NaN,...,82.108326,87.082723,89.327462,90.691866,93.696925,95.902903,100.352692,104.524797,107.744362,NaN
25772,Trade (% of GDP),NE.TRD.GNFS.ZS,Portugal,PRT,NaN,NaN,NaN,NaN,NaN,NaN,...,67.783295,73.099544,76.050839,78.114435,80.282308,80.490894,79.274230,84.439141,86.956757,NaN
25775,Trade (% of GDP),NE.TRD.GNFS.ZS,Romania,ROU,NaN,NaN,NaN,NaN,NaN,NaN,...,71.235558,79.871444,79.942430,80.524405,82.768156,82.657506,83.297950,85.064152,86.494919,NaN
25786,Trade (% of GDP),NE.TRD.GNFS.ZS,Slovak Republic,SVK,NaN,NaN,NaN,NaN,NaN,NaN,...,154.944067,169.324719,176.552488,181.627325,178.218642,180.970856,184.505699,188.023326,190.155092,NaN
25787,Trade (% of GDP),NE.TRD.GNFS.ZS,Slovenia,SVN,NaN,NaN,NaN,NaN,NaN,NaN,...,127.491480,139.277904,142.384432,143.756355,145.549750,146.295856,147.395789,157.479282,162.476886,NaN
25799,Trade (% of GDP),NE.TRD.GNFS.ZS,Sweden,SWE,42.49063,40.282429,39.608477,39.761417,40.441665,40.623268,...,84.582334,86.355091,85.847194,81.608239,83.671853,84.571372,82.854179,85.658810,89.074706,NaN
25813,Trade (% of GDP),NE.TRD.GNFS.ZS,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,...,98.140077,106.241812,104.093064,95.149666,100.691782,107.806616,105.521205,103.717841,99.018660,NaN
25832,Trade (% of GDP),NE.TRD.GNFS.ZS,Euro area,EMU,NaN,NaN,NaN,NaN,NaN,NaN,...,76.279308,81.666740,83.319711,82.855404,83.562026,84.887984,83.665385,86.891294,88.055029,NaN
25836,Trade (% of GDP),NE.TRD.GNFS.ZS,European Union,EUU,NaN,NaN,NaN,NaN,NaN,NaN,...,75.700334,80.909213,82.177180,81.772522,82.220404,83.065350,82.336933,85.567215,86.627659,NaN

In [4]:
series = sorted(list(set(df['Series Name'])))

In [5]:
series

['Agricultural methane emissions (% of total)',
 'Agricultural nitrous oxide emissions (% of total)',
 'Air transport, freight (million ton-km)',
 'Air transport, passengers carried',
 'Air transport, registered carrier departures worldwide',
 'Alternative and nuclear energy (% of total energy use)',
 'CO2 emissions (metric tons per capita)',
 'CO2 emissions from electricity and heat production, total (% of total fuel combustion)',
 'CO2 emissions from gaseous fuel consumption (% of total)',
 'CO2 emissions from liquid fuel consumption (% of total)',
 'CO2 emissions from manufacturing industries and construction (% of total fuel combustion)',
 'CO2 emissions from other sectors, excluding residential buildings and commercial and public services (% of total fuel combustion)',
 'CO2 emissions from residential buildings and commercial and public services (% of total fuel combustion)',
 'CO2 emissions from solid fuel consumption (% of total)',
 'CO2 emissions from transport (% of total fuel combustion)',
 'CO2 intensity (kg per kg of oil equivalent energy use)',
 'Cereal yield (kg per hectare)',
 'Electric power consumption (kWh per capita)',
 'Electricity production from hydroelectric sources (% of total)',
 'Electricity production from nuclear sources (% of total)',
 'Electricity production from oil, gas and coal sources (% of total)',
 'Electricity production from renewable sources, excluding hydroelectric (% of total)',
 'Energy related methane emissions (% of total)',
 'Energy use (kg of oil equivalent per capita)',
 'Forest area (% of land area)',
 'GDP per capita growth (annual %)',
 'Land under cereal production (hectares)',
 'Population growth (annual %)',
 'Trade (% of GDP)']

In [6]:
df.head()

,Series Name,Series Code,Country Name,Country Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1057,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Australia,AUS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,France,FRA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1061,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Germany,DEU,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Italy,ITA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065,Agricultural methane emissions (% of total),EN.ATM.METH.AG.ZS,Japan,JPN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
countries = set(df['Country Name'])

In [8]:
with pd.ExcelWriter('Data_by_country.xlsx') as writer:  
    for item in countries:
        df[df['Country Name'] == item].to_excel(writer, sheet_name='{}'.format(item))