In [2]:
import pandas as pd
import glob

In [9]:
for path in glob.glob('/Users/elena/Documents/Диплом/Data/температура по странам/raw data/*.csv'):
    df = pd.read_csv(path)
    df.to_csv('{}.csv'.format(path[-7:-4]), index=False)
#     print(df.columns)
#     df.index = range(0, 312)
#     print(path[-7:-4])
#     print(df.columns[1])
#     print(df.columns[0])
#     years = sorted(list(set(df[df.columns[1]])))
#     print(years)
#     c = []
#     for year in years:
#         c.append(df[df[df.columns[1]]==int(year)][df.columns[0]].mean())
#     print(path[-7:-4])
#     df_new = pd.DataFrame([years, c]).T
#     df_new.columns = ['t', 'AvT']
#     df_new.to_excel('{}.xlsx'.format(path[-7:-4]))

In [10]:
i=1
for path in glob.glob('/Users/elena/Documents/Диплом/Data/температура по странам/*.csv'):
    df = pd.read_csv(path)
    print(i, path[-7:-4])
    i += 1
    years = sorted(list(set(df[' Year'])))
    c = []
    for year in years:
        c.append(df[df[df.columns[1]]==int(year)][df.columns[0]].mean())
    df_new = pd.DataFrame([years, c]).T
    df_new.columns = ['t', 'AvT']
    df_new.to_excel('{}.xlsx'.format(path[-7:-4]))

1 CHN
2 TJK
3 EST
4 BLR
5 ISL
6 MDA
7 THA
8 TKM
9 CHL
10 GEO
11 BOL
12 LVA
13 JOR
14 ARE
15 IRL
16 GRC
17 KGZ
18 IRN
19 ESP
20 PER
21 JAM
22 ARG
23 UZB
24 ROU
25 PAK
26 AUS
27 TTO
28 FIN
29 CYP
30 IND
31 BRA
32 KAZ
33 BGD
34 BEL
35 FRA
36 ZAF
37 AUT
38 BGR
39 KOR
40 KWT
41 PAN
42 COL
43 MNG
44 TZA
45 TUN
46 UKR
47 ITA
48 HRV
49 MLT
50 MAR
51 ZWE
52 RUS
53 NPL
54 MMR
55 MOZ
56 USA
57 LKA
58 GBR
59 MYS
60 TUR
61 AZE
62 SEN
63 DEU
64 SGP
65 NGA
66 ECU
67 POL
68 MUS
69 JPN
70 CAN
71 CZE
72 ETH
73 BRN
74 EGY
75 CRI
76 MEX
77 SAU
78 VEN
79 IDN
80 PRT
81 NZL
82 ISR
83 CHE
84 QAT
85 PHL
86 NLD
87 KEN
88 LBN
89 LBY
90 DZA
91 AGO
92 SLV
93 SVN
94 LTU

In [11]:
years = list(range(1992,2015))
df_all = pd.DataFrame(years, columns=['t'])
c = []
names = []
for path in glob.glob('/Users/elena/Documents/Диплом/Data/температура по странам/*.xlsx'):
    #print(path[-8:-5])
    df_country = pd.read_excel(path)
    names.append(path[-8:-5])
    c.append(df_country[df_country['t'].isin(years)]['AvT'])

In [12]:
final_df = pd.DataFrame(c).T
final_df.columns = names
final_df.index=years
# final_df['t']=years

In [13]:
final_df.to_excel('/Users/elena/Documents/Диплом/Data/av_temperature.xlsx')

In [14]:
inputPath = '/Users/elena/Documents/Диплом/Data/температура по странам/usa and china/*.csv'

In [21]:
for path in glob.glob(inputPath):
    print(path)
    df = pd.read_csv(path)
    print(path[-7:-4])
    years = sorted(list(set(df[' Year'])))
    years = years[73:-2]
    c = []
    for year in years:
        c.append(df[df[df.columns[1]]==int(year)][df.columns[0]].mean())
    df_new = pd.DataFrame([years, c]).T
    df_new.columns = ['t', 'AvT']
    df_new.to_excel('{}_long.xlsx'.format(path[-7:-4]))

/Users/elena/Documents/Диплом/Data/температура по странам/usa and china/tas_1901_2016_CHN.csv
CHN
/Users/elena/Documents/Диплом/Data/температура по странам/usa and china/tas_1901_2016_USA.csv
USA

In [20]:
years[73:-2]

[1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014]