In [12]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_excel('/Users/elena/Documents/Диплом/Data/Глава 1/описательные статистики.xlsx', sheet_name='Data mod')

In [23]:
df = df.drop(['Series Code', 'Среднее за период', 'Мин за период', 'Максимум за период'], axis=1)#remove redundant columns

In [24]:
#create a dataframe for each cluster
df_0 = df[df['Cluster'] == 1].drop('Cluster', axis=1)
df_1 = df[df['Cluster'] == 2].drop('Cluster', axis=1)
df_2 = df[df['Cluster'] == 3].drop('Cluster', axis=1)

In [25]:
#group country names by cluster
countries_0 = list(sorted(set(df_0['Country Code'])))
countries_1 = list(sorted(set(df_1['Country Code'])))
countries_2 = list(sorted(set(df_2['Country Code'])))

In [27]:
df_0[df_0[1992].isna() == True].head()

,Series Name,Country Name,Country Code,1992,1993,1994,1995,1996,1997,1998,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
1120,Темп роста реального ВВП на душу населения в д...,China,Китай,NaN,0.005989,0.228419,0.261131,0.142705,0.083278,0.048116,...,0.127120,0.162055,0.249742,0.262868,0.096571,0.173738,0.209369,0.103222,0.096903,0.065051
1193,Темп роста реального ВВП на душу населения в д...,United States,США,NaN,0.014068,0.027609,0.014688,0.025722,0.031973,0.032705,...,0.025635,0.018680,0.009119,-0.010767,-0.033874,0.017167,0.008162,0.015022,0.011385,0.017026
1212,Темп роста реального ВВП в млн долл. США,China,Китай,NaN,0.017621,0.242382,0.274908,0.154745,0.094422,0.058221,...,0.133768,0.168562,0.256286,0.269355,0.102039,0.179420,0.215177,0.108611,0.102332,0.070457
1285,Темп роста реального ВВП в млн долл. США,United States,США,NaN,0.027528,0.040288,0.026843,0.037725,0.044472,0.044814,...,0.035132,0.028550,0.018762,-0.001366,-0.025368,0.025638,0.015508,0.022495,0.018421,0.024520

In [28]:
#Read temperature data from the file
temp = pd.read_excel('/Users/elena/Documents/Диплом/Data/av_temperature.xlsx')

In [29]:
temp = temp.rename(columns={'Unnamed: 0': 't'})

In [30]:
temp.index = temp.t
temp = temp.drop('t', axis=1)

In [31]:
temp = temp.T
temp['Series Name'] = 'Average Air temperature, Celsius'

In [32]:
temp['Country Code'] = temp.index

In [33]:
df = df.append(temp, sort=True)

In [34]:
series = list(set(df['Series Name']))

In [36]:
df[df['Country Code'] == 'Китай'].head()#Data for China

,Series Name,Country Name,Country Code,Cluster,1992,1993,1994,1995,1996,1997,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
16,"Объем грузовых авиаперевозок, млн тонн-км",China,Китай,1.0,7.182352,7.344073,7.448450,7.313887,7.431655,7.641852,...,8.933189,8.947963,9.322735,9.340145,9.390696,9.752309,9.727041,9.653021,9.683697,9.788222
108,"Объем пассажирских авиаперевозок, млн чел.",China,Китай,1.0,3.308534,3.444017,3.627031,3.862087,3.946813,3.956557,...,4.917947,5.062680,5.212831,5.252280,5.433993,5.584597,5.677302,5.763547,5.865888,5.968397
200,"Выбросы углекислого газа от транспорта, доля о...",China,Китай,1.0,1.703182,1.732872,1.618263,1.584510,1.882427,1.740248,...,2.042545,2.029552,2.009171,2.063390,2.020135,2.020718,2.014486,2.091752,2.126579,2.151610
292,"Выбросы углекислого газа, тыс. кт",China,Китай,1.0,2690.455898,2878.694009,3058.241330,3320.285150,3463.089131,3469.510048,...,5896.957705,6529.291518,7030.797772,7553.070247,8001.008965,8776.040416,9733.538120,10028.573939,10258.007128,10291.926878
384,"Выбросы углекислого газа, кт на душу населения",China,Китай,1.0,0.837015,0.893145,0.942346,1.013691,1.045320,1.036938,...,1.509215,1.605493,1.674272,1.740802,1.793442,1.881070,1.979830,2.004819,2.022502,2.020740

# Cluster of countries with 1-7% share of world CO2 emissions

In [39]:
c1_stats = pd.DataFrame([])
for country in countries_1:
    print(country)#to check the countries in this cluster
    df_country = df[df['Country Code'] == country]#dataframe for one country in the cluster
    df_country = df_country.drop(['Country Name', 'Country Code', 'Cluster'], axis=1)#remove redundant columns
    l = len(df_country)#number of variables for this country
    variable = []
    means = []
    variances = []
    mins = []
    maxs = []
    chng = []
    av_chng = []
    pct_chng = []
    for i in range(0, l):#for each variable
        variable.append(df_country.iloc[i,0])
        row = df_country.iloc[i, 1:].astype(float).dropna()
        if len(row) < 1:#take np.nan as descriptive statistics if there is no observations of the variable
            means.append(np.nan)
            variances.append(np.nan)
            mins.append(np.nan)
            maxs.append(np.nan)
            chng.append(np.nan)
            av_chng.append(np.nan)
            pct_chng.append(np.nan)
        else:
            means.append(row.mean())
            variances.append(row.std())
            mins.append(row.min())
            maxs.append(row.max())
            if row.iloc[0] == 0:
                chng.append(0)
            else:
                chng.append((row.iloc[-1]-row.iloc[0])/row.iloc[0]*100)
            av_chng.append(row.diff().mean())
            pct_chng.append(row.pct_change().mean())
    df_ = pd.DataFrame([variable, means, variances, mins, maxs, chng, av_chng, pct_chng]).T
    df_.columns = ['Переменная', 'Среднее значение', 'СКО', 'Минимальное значение', 'Максимальное значение', 'Изменение за период, %', 'Среднее изменение за период','Средний темп прироста, %']
    df_.to_excel('{}_DS.xlsx'.format(country))#save descriptive statistics for each country
    df_['Country Code'] = country
    c1_stats = pd.concat([c1_stats, df_])
c1_stats.to_excel('Cl_1_7_DS.xlsx')#save cluster stats

Австралия
Бразилия
Великобритания
Германия
Индия
Индонезия
Иран
Испания
Италия
Канада
Мексика
Польша
Российская Федерация
Саудовская Аравия
Турция
Украина
Франция
ЮАР
Южная Корея
Япония

In [40]:
c1_stats.head()

,Переменная,Среднее значение,СКО,Минимальное значение,Максимальное значение,"Изменение за период, %",Среднее изменение за период,"Средний темп прироста, %",Country Code
0,"Объем грузовых авиаперевозок, млн тонн-км",7.5881,0.233765,7.21182,7.98559,4.80493,0.0157609,0.00229974,Австралия
1,"Объем пассажирских авиаперевозок, млн чел.",3.70462,0.333064,3.17332,4.22241,33.0254,0.0476364,0.013154,Австралия
2,"Выбросы углекислого газа от транспорта, доля о...",3.11861,0.0449411,3.05998,3.2086,1.75177,0.0025109,0.000814982,Австралия
3,"Выбросы углекислого газа, тыс. кт",339.252,40.4426,267.984,394.793,34.8071,4.23989,0.0140127,Австралия
4,"Выбросы углекислого газа, кт на душу населения",2.82278,0.0527417,2.72901,2.90143,0.169448,0.000210194,0.000122867,Австралия

In [41]:
agr_stats_1 = ['Среднее значение', 'СКО', 'Минимальное значение', 'Максимальное значение', 'Изменение за период, %', 'Среднее изменение за период','Средний темп прироста, %']
agr_stats_1_values = []

In [42]:
factors = ['Объем грузовых авиаперевозок, млн тонн-км', 'Объем пассажирских авиаперевозок, млн чел.', 'Выбросы углекислого газа от транспорта, доля от общего объема при сжигании топлива', 'Выбросы углекислого газа, кт на душу населения', 'Выбросы углекислого газа от производства и строительства, доля от общего объема при сжигании топлива', 'Урожайность круп, кг на гектар', 'Площадь лесных массивов, доля суши', 'Потребление электроэнергии (kWh per capita)', 'Реальный ВВП на душу населения, долл. США', 'Темп роста реального ВВП на душу населения в долл. США', 'Среднегодовая температура воздуха']

In [60]:
stat_1 = pd.DataFrame([])
for stat in agr_stats_1:
    stat_1_val = []
    if stat == 'Минимальное значение':
        for item in series:
            stat_1_val.append(c1_stats[c1_stats['Переменная']==item][stat].min())
            #print(min(c0_stats[c0_stats['Переменная']==item][stat]))
    elif stat == 'Максимальное значение':
        for item in series:
            stat_1_val.append(c1_stats[c1_stats['Переменная']==item][stat].max())
    else:
        for item in series:
            stat_1_val.append(c1_stats[c1_stats['Переменная']==item][stat].mean())
    stat_1[stat] = stat_1_val
stat_1.index = series
stat_1[stat_1.index.isin(factors)].to_excel('AG_cl_1_7.xlsx')

# Cluster of leaders on CO2 emissions

In [68]:
c0_stats = pd.DataFrame([])
for country in countries_0:
    print(country)
    df_country = df[df['Country Code'] == country]
    df_country = df_country.drop(['Country Name', 'Country Code', 'Cluster'], axis=1)
    #print(df_country.columns)
    l = len(df_country)
    variable = []
    means = []
    variances = []
    mins = []
    maxs = []
    chng = []
    av_chng = []
    pct_chng = []
    for i in range(0, l):
        variable.append(df_country.iloc[i,0])
        row = df_country.iloc[i, 1:].astype(float).dropna()
        if len(row) < 1:
            means.append(np.nan)
            variances.append(np.nan)
            mins.append(np.nan)
            maxs.append(np.nan)
            chng.append(np.nan)
            av_chng.append(np.nan)
            pct_chng.append(np.nan)
        else:
            means.append(row.mean())
            variances.append(row.std())
            mins.append(row.min())
            maxs.append(row.max())
            if row.iloc[0] == 0:
                chng.append(0)
            else:
                chng.append((row.iloc[-1]-row.iloc[0])/row.iloc[0]*100)
            av_chng.append(row.diff().mean())
            pct_chng.append(row.pct_change().mean())
    df_ = pd.DataFrame([variable, means, variances, mins, maxs, chng, av_chng, pct_chng]).T
    df_.columns = ['Переменная', 'Среднее значение', 'СКО', 'Минимальное значение', 'Максимальное значение', 'Изменение за период, %', 'Среднее изменение за период','Средний темп прироста, %']
    df_.to_excel('{}_DS.xlsx'.format(country))
    df_['Country Code'] = country
    c0_stats = pd.concat([c0_stats, df_])
c0_stats.to_excel('Losers_DS.xlsx')

Китай
США

In [69]:
agr_stats_0 = ['Среднее значение', 'СКО', 'Минимальное значение', 'Максимальное значение', 'Изменение за период, %', 'Среднее изменение за период','Средний темп прироста, %']
agr_stats_0_values = []
stat_0 = pd.DataFrame([])
for stat in agr_stats_0:
    stat_0_val = []
    if stat == 'Минимальное значение':
        for item in series:
            stat_0_val.append(c0_stats[c0_stats['Переменная']==item][stat].min())
            #print(min(c0_stats[c0_stats['Переменная']==item][stat]))
    elif stat == 'Максимальное значение':
        for item in series:
            stat_0_val.append(c0_stats[c0_stats['Переменная']==item][stat].max())
    else:
        for item in series:
            stat_0_val.append(c0_stats[c0_stats['Переменная']==item][stat].mean())
    stat_0[stat] = stat_0_val
stat_0.index = series
stat_0[stat_0.index.isin(factors)].to_excel('AG_Leaders.xlsx')

# Cluster of countries with <1% share of world CO2 emissions

In [70]:
c2_stats = pd.DataFrame([])
for country in countries_2:
    print(country)
    df_country = df[df['Country Code'] == country]
    df_country = df_country.drop(['Country Name', 'Country Code', 'Cluster'], axis=1)
    l = len(df_country)
    variable = []
    means = []
    variances = []
    mins = []
    maxs = []
    chng = []
    av_chng = []
    pct_chng = []
    for i in range(0, l):
        variable.append(df_country.iloc[i,0])
        row = df_country.iloc[i, 1:].astype(float).dropna()
        if len(row) < 1:
            means.append(np.nan)
            variances.append(np.nan)
            mins.append(np.nan)
            maxs.append(np.nan)
            chng.append(np.nan)
            av_chng.append(np.nan)
            pct_chng.append(np.nan)
        else:
            means.append(row.mean())
            variances.append(row.std())
            mins.append(row.min())
            maxs.append(row.max())
            if row.iloc[0] == 0:
                chng.append(0)
            else:
                chng.append((row.iloc[-1]-row.iloc[0])/row.iloc[0]*100)
            av_chng.append(row.diff().mean())
            pct_chng.append(row.pct_change().mean())
    df_ = pd.DataFrame([variable, means, variances, mins, maxs, chng, av_chng, pct_chng]).T
    df_.columns = ['Переменная', 'Среднее значение', 'СКО', 'Минимальное значение', 'Максимальное значение', 'Изменение за период, %', 'Среднее изменение за период','Средний темп прироста, %']
    df_.to_excel('{}_DS.xlsx'.format(country))
    df_['Country Code'] = country
    c2_stats = pd.concat([c2_stats, df_])
c2_stats.to_excel('Middlers_DS.xlsx')

Австрия
Азербайджан
Алжир
Ангола
Аргентина
Бангладеш
Беларусь
Бельгия
Болгария
Боливия
Бруней
Венесуэла
Греция
Грузия
Египет
Зимбабве
Израиль
Иордания
Ирландия
Казахстан
Катар
Кения
Кипр
Колумбия
Коста-Рика
Кувейт
Кыргызстан
Латвия
Ливан
Ливия
Литва
Маврикий
Малайзия
Мальта
Мозамбик
Молдавия
Монголия
Морокко
Мьянма
Непал
Нигерия
Нидерланды
Новая Зеландия
ОАЭ
Пакистан
Панама
Перу
Португалия
Румыния
Сальвадор
Сенегал
Словения
Таджикистан
Таиланд
Танзания
Тринидад и Тобаго
Тунис
Туркменистан
Узбекистан
Филиппины
Финляндия
Хорватия
Чехия
Чили
Швейцария
Шри-Ланка
Эквадор
Эстония
Эфиопия
Ямайка

In [71]:
agr_stats_2 = ['Среднее значение', 'СКО', 'Минимальное значение', 'Максимальное значение', 'Изменение за период, %', 'Среднее изменение за период','Средний темп прироста, %']
agr_stats_2_values = []
stat_2 = pd.DataFrame([])
for stat in agr_stats_2:
    stat_2_val = []
    if stat == 'Минимальное значение':
        for item in series:
            stat_2_val.append(c2_stats[c2_stats['Переменная']==item][stat].min())
            #print(min(c0_stats[c0_stats['Переменная']==item][stat]))
    elif stat == 'Максимальное значение':
        for item in series:
            stat_2_val.append(c2_stats[c2_stats['Переменная']==item][stat].max())
    else:
        for item in series:
            stat_2_val.append(c2_stats[c2_stats['Переменная']==item][stat].mean())
    stat_2[stat] = stat_2_val
stat_2.index = series
stat_2[stat_2.index.isin(factors)].to_excel('AG_Middlers.xlsx')

In [72]:
temp.to_excel('temp_for_DS.xlsx')